* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #000000;
  min-height: 10vh;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

nav ul li {
  list-style: none;
}
.brand {
  height: 5vh;
}
nav ul a {
  text-decoration: none;
  color: azure;
  font-weight: 500;
}

/* Hero */
.hero {
  /* background-image: url("/img.png"); */
  background: linear-gradient(to bottom, transparent 0%, black 100%),
    url("/img.png") no-repeat center;
  min-height: 90vh;
  background-size: cover;
  background-position: top;

  /* background: linear-gradient(
    #3498db,
    #2c3e50
  );  */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: azure;
}
.hero h2 {
  margin: 1rem;
}
.hero p {
  margin-bottom: 1rem;
}

.hero button,
.intro button {
  padding: 0.8rem 2rem;
  color: azure;
  border-radius: 5px;
  /* background-color: transparent; */
  /* border: solid 1px black; */
  border: none;
  background-color: black;
  margin-bottom: 1rem;
}
.hero button:hover,
.intro button:hover {
  color: #000000;

  background-color: #fff;

  border-color: #fff;
}

/* intro section  */
.intro {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
}

.intro-img img {
  width: 100%;
}
.intro-img {
  flex: 1 1 20rem;
  background: black;
}
.intro-text {
  flex: 3 1 20rem;
  color: #fff;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro-text h2 {
  padding: 2rem;
}
.intro-text p {
  padding: 1rem;
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #202020;
  outline: 2px solid rgb(255, 255, 255);
}
